<a href="https://colab.research.google.com/github/Ruwai/10-steps-to-become-a-data-scientist/blob/master/DS_Unit_1_Sprint_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 1

## Loading, cleaning, visualizing, and analyzing data

In this sprint challenge you will look at a dataset of the survival of patients who underwent surgery for breast cancer.

http://archive.ics.uci.edu/ml/datasets/Haberman%27s+Survival

Data Set Information:
The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

Attribute Information:
1. Age of patient at time of operation (numerical)
2. Patient's year of operation (year - 1900, numerical)
3. Number of positive axillary nodes detected (numerical)
4. Survival status (class attribute)
-- 1 = the patient survived 5 years or longer
-- 2 = the patient died within 5 year

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- Validate that you have no missing values.
- Add informative names to the features.
- The survival variable is encoded as 1 for surviving >5 years and 2 for not - change this to be 0 for not surviving and 1 for surviving >5 years (0/1 is a more traditional encoding of binary variables)

At the end, print the first five rows of the dataset to demonstrate the above.

In [0]:
# TODO
import pandas as pd
import numpy as np

df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data')
df.columns = ['age', 'year_of_op', 'nodes_detected', 'survival_status']

In [10]:
df

     age  year_of_op  nodes_detected  survival_status
0     30          62               3                1
1     30          65               0                1
2     31          59               2                1
3     31          65               4                1
4     33          58              10                1
5     33          60               0                1
6     34          59               0                2
7     34          66               9                2
8     34          58              30                1
9     34          60               1                1
10    34          61              10                1
11    34          67               7                1
12    34          60               0                1
13    35          64              13                1
14    35          63               0                1
15    36          60               1                1
16    36          69               0                1
17    37          60               0                1
18    37          63               0                1
19    37          58               0                1
20    37          59               6                1
21    37          60              15                1
22    37          63               0                1
23    38          69              21                2
24    38          59               2                1
25    38          60               0                1
26    38          60               0                1
27    38          62               3                1
28    38          64               1                1
29    38          66               0                1
..   ...         ...             ...              ...
275   67          66               0                1
276   67          61               0                1
277   67          65               0                1
278   68          67               0                1
279   68          68               0                1
280   69          67               8                2
281   69          60               0                1
282   69          65               0                1
283   69          66               0                1
284   70          58               0                2
285   70          58               4                2
286   70          66              14                1
287   70          67               0                1
288   70          68               0                1
289   70          59               8                1
290   70          63               0                1
291   71          68               2                1
292   72          63               0                2
293   72          58               0                1
294   72          64               0                1
295   72          67               3                1
296   73          62               0                1
297   73          68               0                1
298   74          65               3                2
299   74          63               0                1
300   75          62               1                1
301   76          67               0                1
302   77          65               3                1
303   78          65               1                2
304   83          58               2                2

[305 rows x 4 columns]

In [11]:
df.describe()

              age  year_of_op  nodes_detected  survival_status
count  305.000000  305.000000      305.000000       305.000000
mean    52.531148   62.849180        4.036066         1.265574
std     10.744024    3.254078        7.199370         0.442364
min     30.000000   58.000000        0.000000         1.000000
25%     44.000000   60.000000        0.000000         1.000000
50%     52.000000   63.000000        1.000000         1.000000
75%     61.000000   66.000000        4.000000         2.000000
max     83.000000   69.000000       52.000000         2.000000

In [13]:
dir(df)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_valid_indices',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'age',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'nodes_detected',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'survival_status',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs',
 'year_of_op']

In [14]:
df.isnull().sum()

age                0
year_of_op         0
nodes_detected     0
survival_status    0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 4 columns):
age                305 non-null int64
year_of_op         305 non-null int64
nodes_detected     305 non-null int64
survival_status    305 non-null int64
dtypes: int64(4)
memory usage: 9.6 KB

In [16]:
df.count()

age                305
year_of_op         305
nodes_detected     305
survival_status    305
dtype: int64

In [17]:
df.head()

   age  year_of_op  nodes_detected  survival_status
0   30          62               3                1
1   30          65               0                1
2   31          59               2                1
3   31          65               4                1
4   33          58              10                1

## Part 2 - Examine the distribution and relationships of the features

Explore the data - create at least *2* tables (can be summary statistics or crosstabulations) and *2* plots illustrating the nature of the data.

This is open-ended, so to remind - first *complete* this task as a baseline, then go on to the remaining sections, and *then* as time allows revisit and explore further.

Hint - you may need to bin some variables depending on your chosen tables/plots.

In [18]:
# TODO
q = pd.crosstab(df['age'], df['year_of_op'])
q

year_of_op  58  59  60  61  62  63  64  65  66  67  68  69
age
30           0   0   0   0   1   0   0   1   0   0   0   0
31           0   1   0   0   0   0   0   1   0   0   0   0
33           1   0   1   0   0   0   0   0   0   0   0   0
34           1   1   2   1   0   0   0   0   1   1   0   0
35           0   0   0   0   0   1   1   0   0   0   0   0
36           0   0   1   0   0   0   0   0   0   0   0   1
37           1   1   2   0   0   2   0   0   0   0   0   0
38           0   1   3   0   1   0   1   0   2   1   0   1
39           1   1   0   0   0   2   0   0   1   1   0   0
40           2   0   0   0   0   0   0   1   0   0   0   0
41           1   2   1   0   0   0   2   2   0   1   0   1
42           1   2   1   1   1   1   0   1   0   0   0   1
43           1   1   1   0   0   2   4   1   1   0   0   0
44           1   0   0   2   0   2   1   0   0   1   0   0
45           0   1   1   0   0   0   1   1   1   3   1   0
46           2   0   0   0   2   1   0   1   0   0   0   1
47           1   0   1   1   1   2   0   1   2   1   1   0
48           2   0   0   1   1   0   1   0   1   1   0   0
49           0   0   1   2   2   2   1   0   1   1   0   0
50           1   2   0   3   0   2   2   1   1   0   0   0
51           0   3   0   0   0   0   1   1   1   0   0   0
52           0   1   2   1   3   1   1   1   1   0   1   2
53           2   1   3   1   0   2   0   2   0   0   0   0
54           1   1   2   0   2   1   0   2   1   1   1   1
55           3   0   0   0   0   1   0   0   2   1   1   2
56           0   0   2   0   0   0   0   1   3   1   0   0
57           0   0   0   2   2   1   4   0   0   1   0   1
58           2   1   1   2   0   0   0   0   0   1   0   0
59           0   0   1   0   1   1   4   0   0   1   0   0
60           0   1   0   2   0   0   1   1   0   1   0   0
61           0   3   0   0   1   0   1   2   0   0   2   0
62           2   1   0   0   1   0   0   1   2   0   0   0
63           0   0   1   3   1   2   0   0   1   0   0   0
64           1   0   0   1   0   0   0   1   1   0   1   0
65           2   1   0   1   1   0   2   0   1   2   0   0
66           3   0   0   1   0   0   0   0   0   0   1   0
67           0   0   0   1   0   1   1   1   2   0   0   0
68           0   0   0   0   0   0   0   0   0   1   1   0
69           0   0   1   0   0   0   0   1   1   1   0   0
70           2   1   0   0   0   1   0   0   1   1   1   0
71           0   0   0   0   0   0   0   0   0   0   1   0
72           1   0   0   0   0   1   1   0   0   1   0   0
73           0   0   0   0   1   0   0   0   0   0   1   0
74           0   0   0   0   0   1   0   1   0   0   0   0
75           0   0   0   0   1   0   0   0   0   0   0   0
76           0   0   0   0   0   0   0   0   0   1   0   0
77           0   0   0   0   0   0   0   1   0   0   0   0
78           0   0   0   0   0   0   0   1   0   0   0   0
83           1   0   0   0   0   0   0   0   0   0   0   0

In [19]:
age_bin = pd.cut(df['age'], 4)
w = pd.crosstab(age_bin, df['survival_status'])
w

survival_status   1   2
age
(29.947, 43.25]  59  13
(43.25, 56.5]    84  40
(56.5, 69.75]    66  22
(69.75, 83.0]    15   6

In [34]:
### 1 == survive 5 years of longer 2 == survived 5 years or less 

node_bin = pd.cut(df['nodes_detected'], 10)
e = pd.crosstab(node_bin, df['survival_status'])
e

survival_status    1   2
nodes_detected
(-0.052, 5.2]    189  46
(5.2, 10.4]       18  12
(10.4, 15.6]       7  11
(15.6, 20.8]       4   4
(20.8, 26.0]       3   6
(26.0, 31.2]       2   0
(31.2, 36.4]       0   1
(36.4, 41.6]       0   0
(41.6, 46.8]       1   0
(46.8, 52.0]       0   1

In [40]:
!pip install seaborn==0.9.0

Requirement already satisfied: seaborn==0.9.0 in /usr/local/lib/python3.6/dist-packages (0.9.0)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (1.1.0)
Requirement already satisfied: pandas>=0.15.2 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (0.22.0)
Requirement already satisfied: numpy>=1.9.3 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (1.14.6)
Requirement already satisfied: matplotlib>=1.4.3 in /usr/local/lib/python3.6/dist-packages (from seaborn==0.9.0) (2.1.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.15.2->seaborn==0.9.0) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.15.2->seaborn==0.9.0) (2.5.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn==0.9.0) (2.3.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn==0.9.0) (1.11.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn==0.9.0) (0.10.0)

In [46]:
import seaborn as sns
!pip install matplotlib==1.4.3

Collecting matplotlib==1.4.3
  Downloading https://files.pythonhosted.org/packages/bb/ac/485df0ecb15aa6fec1991945dc0cabfeb724a64f6729e34bab3c6a766813/matplotlib-1.4.3.tar.gz (50.4MB)
    100% |████████████████████████████████| 50.4MB 741kB/s
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.6/dist-packages (from matplotlib==1.4.3) (1.14.6)
Requirement already satisfied: six>=1.4 in /usr/local/lib/python3.6/dist-packages (from matplotlib==1.4.3) (1.11.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from matplotlib==1.4.3) (2.5.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==1.4.3) (2018.9)
Requirement already satisfied: pyparsing>=1.5.6 in /usr/local/lib/python3.6/dist-packages (from matplotlib==1.4.3) (2.3.0)
Requirement already satisfied: nose>=0.11.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==1.4.3) (1.3.7)
Building wheels for collected packages: matplotlib
  Running setup.py bdist_wheel for matplotlib ... - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done
  Stored in directory: /root/.cache/pip/wheels/cd/4f/64/3fbcce31c4971c3bd72e70690150c8641239cbcab54072669b
Successfully built matplotlib
yellowbrick 0.9 has requirement matplotlib<3.0,>=1.5.1, but you'll have matplotlib 1.4.3 which is incompatible.
mlxtend 0.14.0 has requirement matplotlib>=1.5.1, but you'll have matplotlib 1.4.3 which is incompatible.
magenta 0.3.19 has requirement matplotlib>=1.5.3, but you'll have matplotlib 1.4.3 which is incompatible.
fbprophet 0.4 has requirement matplotlib>=2.0.0, but you'll have matplotlib 1.4.3 which is incompatible.
Installing collected packages: matplotlib
  Found existing installation: matplotlib 2.1.2
    Uninstalling matplotlib-2.1.2:
      Successfully uninstalled matplotlib-2.1.2
Successfully installed matplotlib-1.4.3

In [0]:
import statsmodels
import scipy

In [55]:
!pip freeze | grep seaborn

seaborn==0.9.0

In [56]:
sns.relplot(x='year_of_op', y='age', hue='survival_status', 
                size='nodes_detected', palette='r', data=df, kind='scatter')
# nani?

AttributeError: ignored

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- What is at least one feature that looks to have a positive relationship with survival?
- What is at least one feature that looks to have a negative relationship with survival?
- How are those two features related with each other, and what might that mean?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.